PUBLIC_KEY='{"key_ops":["verify"],"ext":true,"kty":"EC","x":"5nqgWz8uhmlbRDLqSI2OXda9RFCmtYMq-gA04PiFYhc","y":"mPTVFX0IoLDmdCFIZbqz-S2pIbSx-2xt6J6DtmK5KEE","crv":"P-256"}'
PRIVATE_KEY='{"key_ops":["sign"],"ext":true,"kty":"EC","x":"5nqgWz8uhmlbRDLqSI2OXda9RFCmtYMq-gA04PiFYhc","y":"mPTVFX0IoLDmdCFIZbqz-S2pIbSx-2xt6J6DtmK5KEE","crv":"P-256","d":"5dsSyZ274ryQnKk6FK85Md1IX5k9S3AigZMUzef6IpY"}'
DATABASE_URL="file:./dev.db"